:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87); /* Mengubah warna teks ke hitam */
  background-color: #f5f5f5; /* Ubah warna latar belakang ke abu-abu muda */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #5cc1d8; /* Ganti warna tautan ke biru */
  text-decoration: none; /* Hilangkan garis bawah */
}
a:hover {
  color: #afd65f; /* Warna hover yang lebih gelap */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.5em; /* Sedikit lebih kecil untuk kepala */
  line-height: 1.2; /* Sesuaikan ketinggian baris */
  background-color: rgb(44, 10, 45);
}

button {
  border-radius: 8px;
  border: none; /* Hilangkan border */
  padding: 0.8em 1.4em; /* Sesuaikan padding */
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #b75cc5; /* Ganti warna latar belakang */
  color: #fff; /* Warna teks putih */
  cursor: pointer;
  transition: background-color 0.25s; /* Efek transisi untuk hover */
}
button:hover {
  background-color: #d211c8; /* Warna hover yang lebih gelap */
}
button:focus,
button:focus-visible {
  outline: none; /* Hapus garis focus */
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #ffffff;
    background-color: #df8ecc;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
    color: #333; /* Ubah warna teks agar terlihat lebih gelap di atas latar belakang putih */
  }
}